<html lang="ja">
  {% load sass_tags %}
  {% load static %}
  <head>
    <title>{% block title %}{% endblock %}</title> 
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="dns-prefetch" href="//fonts.googleapis.com/">
    <link rel="dns-prefetch" href="//fonts.gtatic.com/">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'img/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta data-react-helmet="true" property="og:title" content="top">
    <meta data-react-helmet="true" property="og:description" content="毎日の生存報告や落書き。">
    <meta data-react-helmet="true" property="og:type" content="website">
    <link rel="stylesheet" href="{% static 'css/app.css' %}" type="text/css">
  </head>

  <body>
    <!-- Header -->
    <header class="text-gray-400 bg-gray-900 header-dark">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a
          class="flex items-center text-white hover:text-white mb-4 md:mb-0" 
          href="{% url 'post_list' %}">
          <span class="ml-3 text-xl">こうちゃんブログ。</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-white-800	flex flex-wrap items-center text-base justify-center">
          <a 
            class="mr-5 text-gray-400 hover:text-white"
            href="{% url 'post_list' %}">
            Top
          </a>
          <a 
            class="mr-5 text-gray-400 hover:text-white"
            href="{% url 'news_list' %}">
            News
          </a>
          <a 
            class="mr-5 text-gray-400 hover:text-white"
            href="{% url 'blog_list' %}">
            Blog
          </a>
        </nav>
      </div>
    </header>

    <!-- Body -->
    <div class="flex flex-wrap">
      <article class="w-full lg:w-3/4 body-background">
        {% block content %}
        {% endblock %}
      </article>

      <!-- Sidebar -->
      <aside class="py-12 w-full lg:w-1/4 text-white container mx-auto body-background sidebar-dark">
        <h3>新着記事一覧</h3>
        {% for post in posts_all %}
          <h4 class="lineclamp">
            <a href="{% url 'post_detail' post.id %}" class="text-gray-300">            
              {{ post.title }}
            </a>
          </h4>
        {% endfor %}
        <!-- Google Ads -->
        <ins class="adsbygoogle"
          style="display:block; text-align:center;"
          data-ad-layout="in-article"
          data-ad-format="fluid"
          data-ad-client="ca-pub-3053226401219063"
          data-ad-slot="1581217662">
        </ins>
        <!-- Twitter -->
        <div class = "twitter-wrapper">
          <h3>Twitter</h3>
          <a class="twitter-timeline" data-height="400" data-theme="dark" href="https://twitter.com/NAGATAChannel?ref_src=twsrc%5Etfw">
          </a> 
        </div>
      </aside>
    </div>

    <!-- Google Ads -->
    <ins class="adsbygoogle"
      style="display:block"
      data-ad-client="ca-pub-3053226401219063"
      data-ad-slot="1609137825"
      data-ad-format="auto"
      data-full-width-responsive="true">
    </ins>
    <!-- Footer -->
    <footer class="text-gray-400 bg-gray-900 footer-dark">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a 
          class="flex title-font font-medium items-center md:justify-start justify-center text-white hover:text-white" 
          href="{% url 'post_list' %}"
        >
          <span class="ml-3 text-xl">こうちゃんブログ。</span>
        </a>
        <p class="text-sm text-gray-400 ml-4 pl-4 py-2 mt-0">
          © 2021 KoukiNAGATA
        </p>
        <!-- SNS URL -->
        <span class="inline-flex ml-auto mt-0 justify-center">
          <!-- Facebook -->
          <a 
            class="text-gray-400"
            href="https://www.facebook.com/profile.php?id=100029461996992"
            target="_blank"
            rel="noopener"
            alt="facebook"
          >
            <img src="https://icongr.am/entypo/facebook.svg?size=24&color=9ca3af" />
          </a>
          <!-- Twitter -->
          <a 
            class="ml-3 text-gray-400"
            href="https://twitter.com/nagatachannel"
            target="_blank"
            rel="noopener"
            alt="twitter"
          >
            <img src="https://icongr.am/entypo/twitter.svg?size=24&color=9ca3af" />
          </a>
          <!-- GitHub -->
          <a 
            class="ml-3 text-gray-400"
            href="https://github.com/KoukiNAGATA"
            target="_blank"
            rel="noopener"
            alt="github"
          >
            <img src="https://icongr.am/entypo/github.svg?size=24&color=9ca3af" />
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>
<!-- Twitter -->
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!-- highlight.js -->
<script async src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.18.1/highlight.min.js"></script>
<script>
  hljs.initHighlightingOnLoad();
</script>
<!-- mathjax -->
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      showProcessingMessages: false, //Close js loading process information
      messageStyle: "none", //Do not display information
      extensions: ["tex2jax.js"],
      jax: ["input/TeX", "output/HTML-CSS"],
      tex2jax: {
          inlineMath:  [ ["$", "$"] ], //In-line formula selection$
          displayMath: [ ["$$","$$"] ], //The formula selection in the paragraph$$
          skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code','a'], //Avoid certain tags
          ignoreClass:"comment-content" //Avoid tags containing the Class
      },
      "HTML-CSS": {
          availableFonts: ["STIX","TeX"], //Optional font
          showMathMenu: false //Close the right-click menu display
      }
  });
  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
</script>
<script async src="//cdn.bootcss.com/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<!-- Google Ads -->
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3053226401219063"
crossorigin="anonymous"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({});
</script>