<!-- ローカル用 -->
<!-- {% load sass_tags %} -->
{% load static %}
<html lang="ja">
  <head>
    <title>{% block title %}{% endblock %}</title> 
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho" rel="stylesheet">
    <!-- ローカル用 -->
    <!-- <link href="{% sass_src 'css/app.scss' %}" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="{% static 'blog/css/app.css' %}">
  </head>

  <body>
    <!-- Header -->
    <header class="text-gray-400 bg-gray-900 body-font">
      <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a
          class="flex title-font font-medium items-center text-white mb-4 md:mb-0" 
          href="{% url 'post_list' %}">
          <span class="ml-3 text-xl">こうちゃんブログ。</span>
        </a>
        <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-700	flex flex-wrap items-center text-base justify-center">
          <a 
            class="mr-5 hover:text-white"
            href="{% url 'post_list' %}">
            Top
          </a>
          <a 
            class="mr-5 hover:text-white"
            href="{% url 'news_list' %}">
            News
          </a>
          <a 
            class="mr-5 hover:text-white"
            href="{% url 'blog_list' %}">
            Blog
          </a>
        </nav>
      </div>
    </header>

    <!-- Body -->
    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <footer class="text-gray-400 bg-gray-900 body-font">
      <div class="container px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
        <a 
          class="flex title-font font-medium items-center md:justify-start justify-center text-white" 
          href="{% url 'post_list' %}"
        >
          <span class="ml-3 text-xl">こうちゃんブログ。</span>
        </a>
        <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
          © 2021 KoukiNAGATA
        </p>
        <!-- SNS URL -->
        <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
          <!-- Facebook -->
          <a 
            class="text-gray-400"
            href="https://www.facebook.com/profile.php?id=100029461996992"
            target="_blank"
          >
            <img src="https://icongr.am/entypo/facebook.svg?size=24&color=9ca3af" />
          </a>
          <!-- Twitter -->
          <a 
            class="ml-3 text-gray-400"
            href="https://twitter.com/nagatachannel"
            target="_blank"
          >
            <img src="https://icongr.am/entypo/twitter.svg?size=24&color=9ca3af" />
          </a>
          <!-- GitHub -->
          <a 
            class="ml-3 text-gray-400"
            href="https://github.com/KoukiNAGATA"
            target="_blank"
          >
            <img src="https://icongr.am/entypo/github.svg?size=24&color=9ca3af" />
          </a>
        </span>
      </div>
    </footer>
  </body>
</html>