{% extends 'base.html' %}
{% load markdown_extras %}
{% block title %}{{ post.title }} - こうちゃんブログ。{% endblock %}

{% block content %}
<section class="py-36 md:py-24 text-gray-400 bg-gray-900 body-font overflow-hidden body-background">
  <div class="container px-5 mx-auto">
    <div class="flex flex-wrap -m-12">
      <div class="p-12 w-screen md:w-3/4 flex flex-col items-start">
        <span class="inline-block py-1 px-2 rounded bg-gray-800 text-opacity-75 text-xs font-medium tracking-widest">
          <a href="/{{ post.category }}">   
            {{ post.category }}
          </a>
        </span>
        <h1 class="sm:text-3xl text-2xl mt-4 mb-4">
          <a href="{% url 'post_detail' post.id %}">            
            {{ post.title }}
          </a>
        </h1>
        <p>{{ post.created_at }}</p>
        <p class="mb-8">{{ post.body | markdown | safe | linebreaksbr}}</p>
        <br/>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-gray-800 border-opacity-75 mt-auto w-full">
          <a class="text-pink-400 inline-flex items-center"  href="{% url 'post_list' %}">
            一覧に戻る
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}