{% extends 'base.html' %}
{% block title %}こうちゃんブログ。{% endblock %}

{% block content %}
<section class="py-12 overflow-hidden max-w-screen">
{% for post in posts %}
  <div class="px-5">
    <div class="container mx-auto flex flex-wrap -m-12">
      <div class="p-12 w-screen md:w-3/4 flex flex-col items-start">
        <span class="inline-block py-1 px-2 text-xs font-medium tracking-widest">
          <a href="/{{ post.category }}" class="label-pink">
            {{ post.category }}
          </a>
        </span>
        <h1 class="sm:text-3xl text-2xl mt-4 mb-4">
          <a href="{% url 'post_detail' post.id %}">            
            {{ post.title }}
          </a>
        </h1>
        <p>{{ post.created_at }}</p>
        <p class="mb-8">{{ post.body | safe | truncatechars:50 }}</p>
        <br/>
        <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-white-800 border-opacity-75 mt-auto w-full">
          <a class="inline-flex items-center"  href="{% url 'post_detail' post.id %}">
            続きを読む
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
</section>
{% endblock %}