{% extends 'base.html' %}
{% load markdown_extras %}
{% block title %}{{ post.title }} - KoukiNAGATA{% endblock %}
{% block header %}{{post.title}}{% endblock %}

{% block content %}
<section class="py-12 text-gray-400 body-font overflow-hidden">
  <div class="lg:px-12 container mx-auto flex flex-wrap -m-12">
    <div class="p-6 lg:p-12 md:w-3/4 flex flex-col items-start">
      <!-- Google Ads -->
      <ins class="adsbygoogle"
        style="display:block"
        data-ad-client="ca-pub-3053226401219063"
        data-ad-slot="1609137825"
        data-ad-format="auto"
        data-full-width-responsive="true">
      </ins>
      <div class="mb-8 md-detail w-full">{{ post.body | markdown | safe | linebreaksbr}}</div>
      <p class="w-full text-right mb-8">{{ post.created_at }}</p>
      <div class="flex items-center flex-wrap pb-4 mb-4 border-b-2 border-white-800 border-opacity-50 w-full">
        <a class="text-pink-400 inline-flex items-center"  href="{% url 'post_list' %}">
          一覧に戻る
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}