.sidebar {
  right: 0;
  overflow: auto;
  padding-right: 2.5em;
  .lineclamp {
    // 1行こえたら3点リーダー
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }
  .twitter-wrapper {
    padding-top: 2.5em;
  }
  // portfolio
  &__portfolio {
    background: $primary-90;
    border-radius: 4px;
    box-shadow: 0px 1px 6px $text-white-20;
    color: $text-white;
  }
  &__portfolio-title {
    font-weight: 700;
  }
  &__portfolio-photo {
    transition-duration: 0.5s;
    &:hover {
      transform: scale(1.1, 1.1);
      transition-duration: 0.5s;
    }
  }
}
