// 各ページ共通変数
$text-pink: #ec7cb6;
$text-pink-75: #ec7cb6cc;
$text-white: #dfdfdf;
$text-white-75: #dfdfdfcc;
$text-white-20: #dfdfdf33;

$primary: #1f1f1f;
$primary-90: #1f1f1fee;

// フォント
@font-face {
  font-family: "Sawarabi Gothic";
  src: url("../fonts/SawarabiGothic-Regular.ttf");
}

@font-face {
  font-family: "Sawarabi Mincho";
  src: url("../fonts/SawarabiMincho-Regular.ttf");
}
